<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="|안녕하세요 ${member.loginId}님|"><a href="/login">안녕하세요 ~ 님</a></h2>

<table th:if="${member.grade == T(own.login.domain.Grade).ADMIN}">
    <thead>
    <tr>
        <th>Id</th>
        <th>LoginId</th>
        <th>LoginPasswd</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mem, i : ${members}">
        <td th:text="${mem.id}"></td>
        <td th:text="${mem.loginId}"></td>
        <td th:text="${mem.loginPasswd}"></td>
        <td th:text="${mem.grade}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>