<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h2 th:text="|${member!=null} ? 안녕하세요 Guest님 : 안녕하세요 ${member.loginId}님|">안녕하세요 ~님</h2>-->
<!--<h2 th:text="${member}==null ? '안녕하세요 Guest님' : '안녕하세요 로긴하신님'">안녕하세요 ~님</h2>-->
<h2 th:text="${member}==null ? '안녕하세요 Guest님' : '안녕하세요. '+${member.loginId}+'님'">안녕하세요 ~님</h2>
<!--삼항 연산자 사용-->
<div th:if="${member}==null">
    <a href="/member/login">로그인</a>
</div>
<div th:if="${member}!=null">
    <form action="/member/logout" method="post">
        <input type="submit" value="로그아웃">
    </form>
</div>

<div th:if="${member!=null}and${member.grade == T(own.login.domain.Grade).ADMIN}">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>LoginId</th>
            <th>LoginPasswd</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mem, i : ${members}">
            <td th:text="${mem.id}"></td>
            <td th:text="${mem.loginId}"></td>
            <td th:text="${mem.loginPasswd}"></td>
            <td th:text="${mem.grade}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>